{% extends "base.html" %}

{% block main %}
    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-github"> Github</i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-globe"> Project Site</i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-github"> Github</i></a>
            <a href="#" class="btn btn-info"><i class="fa fa-bitbucket"> Bitbucket</i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-github"> Github</i></a>
            <a href="#" class="btn btn-info"><i class="fa fa-bitbucket"> Bitbucket</i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-github"> Github</i></a>
          </div>
        </div>
    </div>

    <div class="col-md-4 portfolio-item">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a href="#"><h3>Basic panel example</h3></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-github"> Github</i></a>
            <a href="#" class="btn btn-info"><i class="fa fa-bitbucket"> Bitbucket</i></a>
          </div>
        </div>
    </div>
{% endblock main %}
